/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Harry Potter', sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

header .logo img {
    height: 50px;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #f4e8c1;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: #d4af37;
}

.get-now {
    color: #d4af37;
    font-weight: bold;
}
