/* main.css */
@import url('header.css');
@import url('footer.css');
@import url('responsive.css');

/* Additional general styles */
/* General Body Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    height: 200vh; /* Temporary height to show scrollbar */
    cursor: none;
}

/* General Layout */
.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px; /* Adjusted to give space for fixed header */
}

.header, .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

.header-logo img {
    width: 100px;
}

.nav-bar {
    gap: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: #f4e8c1;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #d4af37;
}

/* Buttons and Interactive Elements */
button, .btn {
    background-color: #d4af37;
    color: #25283B;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: #f4e8c1;
}
